body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    position:sticky;
    display: flex;
    align-items: center;
    height: 55px;
    background-color: black;
    color: white;
    list-style-type: none;
}
.brand img{
    width: 42px;
    padding: 0 7px;
}
.brand{
    display:flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
nav ul li{
    padding: 0 12px;
}
.container{
    min-height: 72vh;
    background-image: url("bg.jpg");
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12 px;
    padding: 34px;
    

}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
    padding: 0 10px;
}
.button123{
    cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color:black;
    width: 80%;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
}
.timeStamp{
    margin: 0 23px;
}
.songItem i{
    cursor: pointer;
}
.songItem i{
    margin: 0 10px;
    padding: 0 10px;
}
.songItemContainer
{
    margin-top: 70px;
}
.songInfo{
    position: absolute;
    left: 9vw;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
    padding: 0 8px;
}